.archives-container {
  margin: 0;
  list-style: none;
  height: 100%;
  width: 100%;
  .archives-body {
    height: 100%;
    .archives-item {
      display: flex;
      height: 90px;
      .archives-timeline {
        display: flex;
        flex-flow: column wrap;
        height: 100%;
        &-node {
          width: 12px;
          height: 12px;
          background-color: #e4e7ed;
          border-radius: 50%;
        }
        &-line {
          margin-left: 5px;
          height: calc(100% - 12px);
          width: 2px;
          background: #e4e7ed;
        }
      }
      .archives-item-info {
        position: relative;
        padding-left: 28px;
        display: flex;
        flex-direction: column;
        .archives-item-content {
          color: #303133;
          .archives-item-tag {
            margin-right: 5px;
            line-height: 16px;
            height: 20px;
            padding: 0 5px;
            border-color: #3eaf7c;
            background-color: #3eaf7c;
            color: #fff;
            display: inline-block;
            font-size: 12px;
            border: 1px solid #d8efe5;
            border-radius: 4px;
            box-sizing: border-box;
            white-space: nowrap;
          }
        }
        .archives-item-timestamp {
          color: #909399;
          line-height: 1;
          font-size: 13px;
          margin-top: 8px;
        }
      }
    }
    .archives-item:first-child {
      height: 50px;
    }
    .archives-item:last-child {
      .archives-timeline {
        .archives-timeline-line {
          height: 0;
        }
      }
    }
  }
}
