.input-label {
  min-width: 50px;
  display: inline-block;
  padding-right: 4px;
}

.input-wrapper {
  display: inline-flex;
  align-items: center;
  padding: 5px 14px;
  // border-radius: 22px;
  border: 1px solid rgb(217, 217, 217);
  position: relative;
  background-color: #fff;
  font-size: 14px;
  min-width: 150px;
  input {
    width: 100%;
    outline: none;
    background-color: inherit;
    line-height: 0;
    border: none;
  }
}
