.blog-item {
  display: flex;
  border-radius: 8px;
  background: #fff;
  margin-bottom: 20px;
  border-bottom: 1px solid #e4e7ed;
  .blog-item-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 15px;
    .blog-item-header {
      display: flex;
      .blog-item-title {
        margin: 10px 0;
        color: #2a2935;
        font-size: 24px;
      }
      .blog-item-title:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    .blog-item-info {
      color: #757575;
      display: flex;
      .icon-calendar {
        font-size: 16px;
        margin-right: 2px;
      }
      .blog-item-time {
        font-size: 10px;
      }
    }
    .blog-item-desc {
      padding: 10px 0;
    }
    .blog-item-tags {
      display: flex;
      color: #757575;
      font-size: 10px;
      .icon-tags {
        font-size: 16px;
        margin-right: 2px;
      }
      .blog-item-tag {
        cursor: pointer;
        color: #757575;
        text-decoration: underline;
        text-underline-position: under;
        margin-left: 4px;
      }
    }
  }
  .blog-item-img {
    max-height: 150px;
    height: auto;
    width: 150px;
    border-radius: 8px;
    object-fit: cover;
  }
}
