.comment-wrap {
  margin: 10px 0;
  .comment-content {
    display: flex;
    align-items: center;
    .comment-avatar {
      border-radius: 80px;
      height: 50px;
      width: 50px;
      margin-right: 15px;
    }
    .comment-main {
      flex: 1;
      .comment-user-meta {
        display: flex;
        align-items: center;
        min-height: 30px;
        font-size: 15px;
        white-space: break-spaces;
        color: #61666d;
        .comment-nickname {
        }
        .comment-author {
        }
      }
    }
    .comment-text {
      font-size: 15px;
      line-height: 24px;
    }
    .comment-info {
      display: flex;
      align-items: center;
      position: relative;
      margin-top: 2px;
      font-size: 13px;
      color: #9499a0;

      .comment-date {
        margin-right: 12px;
      }
      .comment-action-reply {
        font-size: 12px;
        cursor: pointer;
        user-select: none;
        &:hover {
          color: #00aeec;
        }
      }
    }
  }
  .comment-content-reply {
    padding-left: 30px;
  }
}
