.comment-input {
  margin: 0;
  .comment-input-textarea {
    border: 1px solid #c2c8d1;
    background-color: #fff;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: width 0.2s;
    height: 100px;
    width: 100%;
    &-content {
      height: calc(100% - 20px);
      width: calc(100% - 20px);
      font-size: 15px;
      border: none;
      outline: none;
      resize: none;
      box-shadow: none;
    }
  }
  .comment-input-info {
    display: flex;
    padding-top: 10px;
    .comment-input-name {
      font-size: 15px;
      border: 1px solid #c2c8d1;
      padding-right: 20px;
      margin-right: 20px;
      background-color: #fff;
      display: flex;
      align-items: center;
      border-radius: 4px;
      height: 1.834rem;
      width: 10rem;
      transition: width 0.2s;
      .icon-user {
        opacity: 0.5;
        padding: 0 4px;
        font-size: 15px;
      }
      &-content {
        font-size: 15px;
        border: none;
        box-shadow: none;
        outline: none;
        color: #8a919f;
        background-color: transparent;
      }
    }

    .comment-input-email {
      font-size: 15px;
      border: 1px solid #c2c8d1;
      padding-right: 20px;
      margin-right: 20px;
      background-color: #fff;
      display: flex;
      align-items: center;
      border-radius: 4px;
      height: 1.834rem;
      width: 10rem;
      transition: width 0.2s;
      .icon-email {
        font-size: 15px;
        opacity: 0.5;
        padding: 0 4px;
      }
      &-content {
        font-size: 15px;
        border: none;
        box-shadow: none;
        outline: none;
        color: #8a919f;
        background-color: transparent;
      }
    }
    .comment-post-btn {
      display: flex;
      justify-content: space-around;
      align-items: center;
      min-width: 70px;
      width: 5rem;
      background-color: #00b5ad;
      color: #fff;
      text-shadow: none;
      background-image: none;
      cursor: pointer;

      min-height: 1em;
      outline: 0;
      border: none;
      vertical-align: baseline;
      font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
      text-transform: none;
      text-shadow: none;
      font-weight: 700;
      line-height: 1em;
      text-align: center;
      text-decoration: none;
      border-radius: 0.28571429rem;
      .icon-post {
        font-size: 15px;
      }
      &-info {
        font-size: 15px;
      }
    }
  }
  .comment-alert-warning {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    padding: 8px 16px;
    background-color: rgba(255, 152, 0, 0.8);
    border-radius: 5px;
    color: #fff;
    .icon-close {
      font-size: 15px;
      line-height: 16px;
      font-weight: 600;
      cursor: pointer;
    }
  }
}
.comment-input-reply {
  margin-left: 60px;
}
