.blog-editor-container {
  form {
    .form-item {
      display: flex;
      padding: 15px 0;
      label {
        flex-basis: 33%;
      }
      &-title {
        width: 300px;
      }
    }
  }
}
