.user-info {
  display: flex;
  flex-direction: column;
  .user-info-avatar {
    flex: 1;
  }
  .user-info-username {
  }
  .user-info-sign {
  }
  .user-info-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .user-info-item-title {
    }
    .user-info-item-num {
    }
  }
}
