.type-container {
  padding: 50px 100px;
  .type-info {
    padding-bottom: 30px;
    .type-info-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .type-list {
      display: flex;
      flex-grow: wrap;
      .type-item {
        padding-right: 10px;
        .type-item-content {
        }
        .type-item-num {
        }
      }
    }
  }

  .type-content {
  }
}
