.upload-file {
  &-container {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 8px;
  }
  img {
    height: 150px;
    width: auto;
  }
  input {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}
