.app-container {
  min-height: 100vh;
  // overflow-x: hidden;    //设置overflow导致position：sticky不生效
  // overflow-y: auto;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none; //去掉下划线
}
/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont'; /* Project id 3863535 */
  src: url('//at.alicdn.com/t/c/font_3863535_c7uhnwwjoqr.woff2?t=1678238652125')
      format('woff2'),
    url('//at.alicdn.com/t/c/font_3863535_c7uhnwwjoqr.woff?t=1678238652125')
      format('woff'),
    url('//at.alicdn.com/t/c/font_3863535_c7uhnwwjoqr.ttf?t=1678238652125')
      format('truetype');
}
.iconfont {
  font-family: 'iconfont' !important;
  font-size: 30px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.loading-animation {
  width: 100px;
  height: 100px;
  border: 10px solid aqua;
  border-radius: 0 0 30px 0;
  animation: 5s loading linear infinite; //  animation: 绑定选择器  2s完成动画 linear(匀速) infinite(循环)
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
    background: aqua;
  }
  100% {
    transform: rotate(360deg);
    background: aqua;
  }
}
