.home-page-container {
  width: 100%;
  background-color: #0000000f;
  display: flex;
  justify-content: center;
  padding: 30px 50px;
  .home-page-blog {
    width: calc(75% - 15px);
  }
  .home-page-info {
    display: flex;
    width: 25%;
    flex-flow: column wrap;
    justify-content: center;
    margin-left: 15px;
    .home-page-user-info {
      height: 300px;
      width: 300px;
      border: solid 2px;
    }
    .home-page-ranking-info {
      height: 300px;
      width: 300px;
      border: solid 2px;
    }
    .home-page-types-info {
      height: 300px;
      width: 300px;
      border: solid 2px;
    }
  }
}
