.home-page-container {
  background-color: #0000000f;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 50px 200px;
  .home-page-blog {
    // width: calc(75% - 15px);
  }
  .home-page-info {
    width: 15%;
    position: sticky;
    top: 10px;
    margin-left: 50px;
    align-self: flex-start;
  }
}
